.course-card-wrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 0 10px 30px;
}

.course-card {
    height: 100%;
    /*border: solid black 4px;*/
    //box-shadow: 0 2px 5px #949494;
    /*box-shadow: 0 2px 5px #949494;*/
    box-shadow: 0 2px 5px #737373;
    border-radius: 1px;
    /*height: 300px;*/
    display: flex;
    flex-direction: column;
    width: 100%;
    background: #ffffff;
    padding-left: 20px;
    padding-right: 20px;
    flex: 1;
}

.course-card-item {
    padding-bottom: 6px;
    display: flex;
    /*align-items: start;*/
    /*align-content: start;*/
    /*justify-content: start;*/
    text-align: start;
}

.check {
    margin-top: -8px;
    height: 30px;
    width: 30px;
    filter: invert(56%) sepia(100%) saturate(1331%) hue-rotate(58deg) brightness(98%) contrast(109%);
}

.course-card-bottom {
    margin-top: auto;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    align-content: center;
    justify-items: center;
    padding-bottom: 10px;
    /*margin-bottom: auto;*/
    bottom: 0;
    align-self: flex-end;
}

.course-enroll-button {
    display: flex;
    text-align: center;
    justify-content: center;
    align-content: center;
    align-items: center;
    border: none;
    background: #006cb8;
    cursor: pointer;
    color: white;
    height: 50px;
    font-weight: bold;
    border-radius: 10px;
    font-size: 20px;
}


.course-enroll-button:hover {
    background: #00548f;
    /*background: #184d06;*/
}

.course-card-header {
    font-size: 32px;
}

.course-card-text {
    font-family: StratosSkyeng, Helvetica Neue, sans-serif;
    font-size: 24px;
    color: #757575;
}


@media (max-width: 780px) {
    .course-card {
        //border: solid black 2px;
        border: none;
         box-shadow: 0 2px 5px #737373;
    }

    .course-card-header {
        font-size: 20px;
    }

    .course-card-text {
        font-size: 16px;
    }

    .course-enroll-button {
        font-size: 16px;
    }
}
