.wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /*height: 100vh;*/
    /*background: white;*/
    background-repeat: no-repeat;
    color: white;
}

.header {
    position: fixed;
    display: flex;
    width: 100%;
    flex-direction: column;
    height: 100%;
}

/*@media (max-width: 780px) {*/
/*    .header {*/
/*        position: unset;*/
/*    }*/
/*}*/

.header-text {
    margin: 10vw 15% 0;
    font-size: 5.5vw;
    font-weight: 400;
}

.header-description {
    margin: 20px 10% 25px;
    font-size: 2vw;
    font-weight: 400;
}

.header-enroll-button {
    display: flex;
    align-self: center;
    justify-content: center;
    background: red;
    color: white;
    border: none;
    font-size: 2vw;
    padding: 1.5vw 1.5vw;
    border-radius: 10px;
    cursor: pointer;
}


.header-enroll-button:hover {
    background: #880606;
    color: white;
}

.header-figure {
    display: flex;
    margin-left: 15%;
    margin-right: 15%;
    justify-content: space-around;
}

.dot {
    border-radius: 50%;
    display: inline-block;
    background: #ff0000;
}

.header-continue {
    color: white;
    font-size: 2vw;
    text-align: center;
    position: fixed;
    /*z-index: 100;*/
    background: #5e0b0b;
    padding: 10px;
    bottom: 0;
    width: 100vw;
    cursor: pointer;
}

.header-image {
    position: fixed;
    z-index: -1;
    filter: brightness(20%);
     /*filter: linear-gradient(rgb(0, 0, 0), rgba(0, 0, 0, 0.74), rgba(28, 2, 2, 0.44));*/
}

@media (max-width: 780px) {
 .header-image {
    position: fixed;
 }

 .header-text {
     font-size: 40px;
 }

 .header-description {
    font-size: 16px;
  }

  .header-enroll-button {
      font-size: 16px;
      padding: 10px 10px;
  }

  .header-continue {
      font-size: 16px;
  }
}