.teacher-card-wrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 20px;
}

.teacher-card {
    border: solid 3px rgb(177, 4, 14);
    //box-shadow: 0 3px 8px #5e5a5a;
    border-radius: 10px;
    /*height: 300px;*/
    display: flex;
    flex-direction: column;
    width: 100%;
    background: #ffffff;
    padding: 20px;
    height: 100%;
}

.teacher-card-description {
    width: 100%;
    display: flex;
    text-align: start;
    align-items: start;
    align-content: start;
    flex-direction: column;
    /*justify-content: start;*/
    align-self: start;

}

.teacher-card-text {
    margin-left: 0;
    margin-top: 3px;
}

.teacher-image-box {
    display: flex;
}

.teacher-image {
    border-radius: 100%;
    border: solid 1px #000000;
    width: 170px;
    height: 170px;
}